[Unit]
Description=Cinder Scheduler service
After=network.target

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/cinder-scheduler --config-dir /etc/cinder/
User=cinder

[Install]
WantedBy=multi-user.target
