[Unit]
Description=Cinder API service
After=network.target

[Service]
Restart=always
RestartSec=3
ExecStart=/usr/bin/cinder-api --config-dir /etc/cinder/
User=cinder

[Install]
WantedBy=multi-user.target
